*.[oa]
dummy
ID
Makefile
configure.sh
config.cache
config.h
config.h.in
config.log
config.status
/proto.h
/rsync.1
/rsyncd.conf.5
/autom4te*.cache
/confdefs.h
/conftest*
/dox
/getgroups
/gmon.out
/rsync
/shconfig
/testdir
/tests-dont-exist
/testtmp
/tls
/trimslash
/t_unsafe
/wildtest
/getfsdev
/mkrounding
/rounding.h
/doc/rsync.pdf
/doc/rsync.ps
/testsuite/chown-fake.test
/testsuite/devices-fake.test
